.chuongtrinh-card {
  .card {
    overflow: hidden;
    // padding: 1.5em 0.5em 0.5em;
    border-radius: 1rem;
    text-align: center;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #1f3e99;
    border: 1px solid #1f3e99;
    .card-body {
      h4 {
        color: #1f3e99;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
